<a href="https://colab.research.google.com/github/19PA1A0288/AI-LAB-EXPERIMENTS/blob/master/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # Experiment-2 PANDAS

In [1]:
import pandas as pd
import numpy as np

##1)create a data frame manually

In [2]:
df=pd.DataFrame({"Roll No":["EEE288","EEE292","EEE2A3"],"Name":["S.Nagesh Naidu","T.Uma Sai Sankar","V.Vamsi Krishna"]})
df

  Roll No              Name
0  EEE288    S.Nagesh Naidu
1  EEE292  T.Uma Sai Sankar
2  EEE2A3   V.Vamsi Krishna

## 2) Import data into a Data Frame